@media screen and (max-width: 480px){
body{
width: 480px;
}
.content{
width: 450px;   
}

.lin{
display: block;
margin: 0 auto;
}

.form_head{
display: flex;
flex-direction: column;
}

.form_head input{
width: 100%;
margin-top: 30px;
margin-right: 0;
height: 60px;
font-size: 20px;
padding: 0;
}

.form_head .btn{
width: 100%;
height: 60px;
font-size: 20px;
line-height: 60px;
margin-top: 30px;
}

.oll_svg{
display: flex;
flex-wrap: wrap;
padding-bottom: 0;
}

.text_1, .text_2, .text_3, .text_4{
font-size: 25px;
}

.center{
padding-bottom: 50px;
}

.numb{
display: flex;
flex-wrap: wrap;
}

.svg_text{
font-size: 25px;
}

.oll{
padding-bottom: 50px;
}

.icons{
display: flex;
flex-wrap: wrap;
}

.work_text_1, .work_text_2, .work_text_3, .work_text_4{
font-size: 20px;
}

.portret{
padding-bottom: 20px;
}

.comment_text{
font-size: 17px;
}
}