@import "normalize";
@import "fonts";
@import "variables";

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Myriad Pro";
  background-color: $white;
  color: $black;
  @media (max-width: $mobile) {
    &.lock {
      overflow: hidden;
    }
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._anim-show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #298b8b;
    z-index: 2;
  }
  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 2.8rem;
    align-items: center;
  }
  &__logo {
    flex: 0 0 2rem;
    position: relative;
    overflow: hidden;
    z-index: 3;
  }
  &__logo img {
    max-width: 100%;
    display: block;
  }

  &__burger {
    display: none;

    @media (max-width: $mobile) {
      display: block;
      position: relative;
      width: 1.9rem;
      height: 1.3rem;
      position: relative;
      z-index: 3;

      &::before,
      &::after {
        content: "";
        background-color: #fefefe;
        position: absolute;
        width: 100%;
        height: 0.1rem;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
  }

  &__burger.active:before {
    transform: rotate(45deg);
    top: 0.6rem;
  }

  &__burger.active:after {
    transform: rotate(-45deg);
    bottom: 0.6rem;
  }

  &__burger.active span {
    transform: scale(0);
  }

  &__burger span {
    position: absolute;
    background-color: #fefefe;
    left: 0;
    width: 100%;
    height: 0.13rem;
    top: 0.564rem;
    transition: all 0.3s ease 0s;
  }

  &__menu {
    @media (max-width: $mobile) {
      position: fixed;
      top: -106%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      transition: all 0.3s ease 0s;
      background-color: #18b5a4;
      padding: 3rem 0.6rem 1.3rem 0.6rem;
    }
  }

  &__menu.active {
    top: 0;
  }

  &__list {
    padding: 0;
    display: flex;
    position: relative;
    z-index: 2;
    @media (max-width: $mobile) {
      display: block;
    }
  }
  &__list li {
    list-style: none;
    margin: 0 0 0 1.3rem;
    @media (max-width: $mobile) {
      margin: 0 0 1.3rem 0;
    }
  }
  &__link {
    color: #fefefe;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    @media (max-width: $mobile) {
      font-size: 1.5rem;
    }
  }
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 937px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  @media (max-width: $tablet) {
    max-width: 46.9em;
  }
  @media (max-width: $mobile) {
    max-width: 46em;
  }
}

.charger {
  background-image: url(../img/banner01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding: 3.8rem 0 5.2rem 0;
  .banner__head {
    color: $white;
    font-size: 2rem;
    line-height: 1.4rem;
    margin: 0;
    letter-spacing: 0.09rem;
    @media (max-width: $mobileSmall) {
      font-size: 2.5rem;
    }
    transform: translate(120%, 0px);
    transition: all 0.8s ease 0s;
    opacity: 0;
  }
  .banner__head._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  .banner__battery {
    margin: 6.6rem 0 3.1rem 0;
    .battery__about {
      display: flex;
      align-items: center;
      .about__img {
        flex: 0 0 56px;
      }
      .about__header {
        margin: 0 0 0 1.6rem;
        .header__first {
          display: inline-block;
          font-size: 2rem;
          line-height: 2rem;
          color: $white;
        }

        .header__second {
          font-size: 2rem;
          line-height: 2rem;
          letter-spacing: 0.03rem;
          color: $white;
          margin: 0;
        }
      }
      transform: translate(-120%, 0px);
      transition: all 0.8s ease 0s;
      opacity: 0;
    }
    .battery__about._active {
      transform: translate(0px, 0px);
      opacity: 1;
    }

    .battery__text {
      max-width: 26rem;
      color: $white;
      line-height: 1.5rem;
      margin: 1.4rem 0 0.6rem 0;
      @media (max-width: $mobileSmall) {
        font-size: 1.2rem;
        line-height: 1.7rem;
      }
    }
    .battery__store {
      display: inline-block;
      background-color: #0d0d0d;
      border-radius: 0.3rem;
      @media (max-width: $mobileSmall) {
        margin-top: 0.6rem;
      }
      .store__info {
        display: flex;
        align-items: center;
        padding: 0.3rem 2.8rem 0.3rem 2.2rem;
        .info__text {
          color: $white;
          font-size: 0.6rem;
          line-height: 1.2rem;
          letter-spacing: 0.09rem;
          margin-left: 0.9rem;
          span {
            font-size: 1.2rem;
            line-height: 1.2rem;
          }
        }
      }
    }
  }
  .banner__form {
    .form__header {
      color: $white;
      line-height: 1.5rem;
      margin-bottom: 0.3rem;
      @media (max-width: $mobileSmall) {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
      }
    }
    .form__input {
      min-width: 17.4rem;
      min-height: 2.7rem;
      border: 0.1rem solid $white;
      background-color: transparent;
      outline: none;
      padding-left: 0.8rem;
      &::-webkit-input-placeholder {
        color: $white;
      }
      @media (max-width: $mobileSmall) {
        width: 95.5%;
        padding-right: 0;
      }
    }
    .form__button {
      min-width: 8.6rem;
      min-height: 3rem;
      background-color: $white;
      border-radius: 0.3rem;
      border: 0.1rem solid $white;
      color: #3cd072;
      line-height: 1.5rem;
      margin-left: 1.3rem;
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        background-color: #6b6e6b;
        border: 0.1rem solid #6b6e6b;
      }
      @media (max-width: $mobileSmall) {
        width: 100%;
        margin-left: 0;
        margin-top: 3.2rem;
      }
    }
  }
  &__phone-black {
    position: absolute;
    right: 8.4rem;
    top: 1.1rem;
    z-index: 2;

    @media (max-width: $tablet) {
      right: 0;
    }
    @media (max-width: $mobile) {
      right: -5.9rem;
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__phone-black._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__phone-white {
    position: absolute;
    right: 0.3rem;
    top: 3.8rem;
    z-index: 2;

    @media (max-width: $tablet) {
      right: -8rem;
    }
    @media (max-width: $mobile) {
      right: -11rem;
    }
    @media (max-width: 34.5em) {
      display: none;
    }
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0.5s;
  }
  &__phone-white._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.help {
  background-color: $gray;
  .help__info {
    padding: 8.9rem 0 5.4rem 0;
    @media (max-width: $mobileSmall) {
      padding: 4.9rem 0 5.4rem 0;
    }
    .info__img-white {
      position: absolute;
      top: 2rem;
      left: -4.7rem;
      @media (max-width: $tablet) {
        left: -12.7rem;
      }
      @media (max-width: $mobile) {
        left: -12.7rem;
      }
      @media (max-width: 47.9em) {
        display: none;
      }

      @media (max-width: $mobileSmall) {
        display: none;
      }

      @media (max-width: 34.5em) {
        display: none;
      }
    }
    .info__img-black {
      position: absolute;
      left: 5.5rem;
      top: -11.1rem;
      @media (max-width: $tablet) {
        left: -2.5rem;
      }
      @media (max-width: $mobile) {
        left: -3.5rem;
      }
      @media (max-width: 47.9em) {
        display: none;
      }
      @media (max-width: $mobileSmall) {
        display: none;
      }
      @media (max-width: 34.5em) {
        display: none;
      }
    }
    .about {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2.9rem;
      @media (max-width: $mobileSmall) {
        margin-right: 1.3rem;
      }
      @media (max-width: 34.5em) {
        margin-right: 1.3rem;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .main__elem {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;
        .elem__icon {
          flex: 0 0 56px;
        }
        .elem__title {
          display: inline-block;
          font-size: 1.5rem;
          color: #3cd072;
          margin: 0 0 0 1.6rem;
          @media (max-width: $mobileSmall) {
            font-size: 2rem;
          }
        }
      }
      .main__story {
        line-height: 1.5rem;
        letter-spacing: 0.03rem;
        margin: 0;
        max-width: 24.3rem;
        @media (max-width: $mobileSmall) {
          font-size: 1.2rem;
          line-height: 1.7rem;
        }
      }
    }
    .about__main {
      @media (max-width: 47.9em) {
        margin: 0 auto;
      }
    }
  }
}

.easy {
  .easy__block {
    padding: 2.9rem 0 21.9rem 0;
    @media (max-width: $mobileSmall) {
      padding-bottom: 0;
    }
    @media (max-width: 34.5em) {
      padding-bottom: 0;
    }

    .block__img-01 {
      position: absolute;
      top: 26rem;
      left: 1.3rem;
      opacity: 0;
      transform: translate(0px, 30%);
      transition: all 0.8s ease 0s;

      @media (max-width: $tablet) {
        top: 27rem;
        left: -3.7rem;
      }
      @media (max-width: $mobileSmall) {
        margin: auto;
        left: 0;
        top: 0;
        bottom: 90rem;
        right: 0;
      }
      @media (max-width: 34.5em) {
        margin: auto;
        left: 0;
        top: 0;
        bottom: 90rem;
        right: 0;
      }
    }
    .block__img-01._active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    .block__img-02 {
      position: absolute;
      margin: auto;
      top: 64rem;
      left: 0.6rem;
      bottom: 0;
      right: 0;
      opacity: 0;
      transform: translate(0px, 30%);
      transition: all 0.8s ease 0.4s;
      @media (max-width: $mobileSmall) {
        left: -0.1rem;
        top: 18.4rem;
      }
    }
    .block__img-02._active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    .block__img-03 {
      position: absolute;
      right: 0.6rem;
      bottom: -38rem;
      opacity: 0;
      transform: translate(0px, 30%);
      transition: all 0.6s ease 0.8s;
      @media (max-width: $tablet) {
        right: -4.4rem;
        bottom: -37rem;
      }
      @media (max-width: $mobileSmall) {
        margin: auto;
        left: 0;
        top: 0;
        bottom: -126rem;
        right: 0;
      }
    }
    .block__img-03._active {
      opacity: 1;
      transform: translate(0px, 0px);
    }
    .block__steps {
      .steps__img {
        display: block;
        margin: 0 auto;
      }
      .steps__head {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 1.6rem 0 0.9rem 0;
      }
      .steps__head-green {
        text-align: center;
        color: #3cd072;
        font-size: 2.3rem;
        line-height: 2rem;
        margin: 0 0 2.5rem 0;
        @media (max-width: $mobileSmall) {
          margin-bottom: 4rem;
        }
      }
      .item {
        display: flex;
        justify-content: space-around;
        @media (max-width: $tablet) {
          justify-content: space-between;
        }
        @media (max-width: $mobileSmall) {
          display: flex;
          flex-direction: column;
        }
        .item__cont {
          display: flex;
          flex-direction: column;
          .cont__img {
            flex: 0 0 56px;
            margin: 0 auto;
          }
          .cont__head {
            flex: 1 1 auto;
            text-align: center;
            font-size: 1.5rem;
            line-height: 2rem;
            letter-spacing: 0.02rem;
            margin: 1.6rem 0 3.3rem 0;

            @media (max-width: $mobileSmall) {
              margin-bottom: 45.5rem;
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}

.life {
  background-color: $black;
  position: relative;
  z-index: 1;
  .life__action {
    padding: 4.9rem 0 6.7rem 0;
    .action__title {
      color: $white;
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
    }
    .action__head {
      color: #3cd072;
      text-align: center;
      font-size: 2.3rem;
      line-height: 2rem;
      margin: 0.5rem 0 3.1rem 0;
      @media (max-width: $mobileSmall) {
        font-size: 2.2rem;
      }
    }
    .action__art {
      display: flex;
      justify-content: center;
      margin: 0 -0.2rem;
      .art__img {
        padding: 0 0.2rem;
        transform: scale(0);
        transition: all 0.8s ease 0s;
      }
      .art__img._active {
        transform: scale(1);
      }
    }
  }
}

.business__block {
  background-image: url(../img/banner02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 3.5rem 0 1.3rem 0;
  .banner {
    display: flex;
    align-items: center;
    &__img {
      flex: 0 0 72px;
    }
    &__title {
      font-size: 2.3rem;
      line-height: 2rem;
      color: $white;
      margin-left: 1.8rem;
      @media (max-width: $mobileSmall) {
        margin-left: 1rem;
        font-size: 2.2rem;
      }
    }
  }

  .business__text {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    color: $black;
    max-width: 28.4rem;
    margin: 0.9rem 0 2.2rem 0;
    @media (max-width: $mobileSmall) {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
  }
  .list {
    max-width: 24rem;
    list-style: none;
    padding: 0;
    margin: 0;
    &__item {
      color: $white;
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: 0.01rem;
      background: url(../img/icon/06.png) left no-repeat;
      background-size: 3.6rem 3.6rem;
      background-position: 0 0;
      padding: 0 0 2.1rem 4.8rem;
      transform: translate(-120%, 0px);
      transition: all 0.3s ease 0s;
      .item__cont {
        padding-top: 0.9rem;
      }
    }
    &__item._active:nth-child(1) {
      transition: all 0.8s ease 0s;
    }
    &__item._active:nth-child(2) {
      transition: all 0.8s ease 0.2s;
    }
    &__item._active:nth-child(3) {
      transition: all 0.8s ease 0.4s;
    }
    &__item._active:nth-child(4) {
      transition: all 0.8s ease 0.6s;
    }
    &__item._active:nth-child(5) {
      transition: all 0.8s ease 0.8s;
    }

    &__item._active {
      transform: translate(0px, 0px);
    }
  }
  .business__img-left,
  .business__img-center,
  .business__img-right {
    position: absolute;
  }
  .business__img-left {
    bottom: -4rem;
    right: 21.8rem;
    @media (max-width: $tablet) {
      right: 14.8rem;
    }
    @media (max-width: $mobile) {
      right: 14.8rem;
    }
    @media (max-width: 47.9em) {
      right: 8rem;
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
    transition: all 0.8s ease 0s;
    transform: translate(120%, 0px);
    opacity: 0;
  }
  .business__img-left._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  .business__img-center {
    bottom: -4rem;
    right: 9.8rem;
    @media (max-width: $tablet) {
      right: 3.8rem;
    }
    @media (max-width: $mobile) {
      right: 5.8rem;
    }
    @media (max-width: 47.9em) {
      right: 3rem;
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
    transition: all 0.8s ease 0.4s;
    transform: translate(120%, 0px);
    opacity: 0;
  }
  .business__img-center._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  .business__img-right {
    bottom: -4rem;
    right: -4.6rem;
    @media (max-width: $tablet) {
      right: -9.6rem;
    }
    @media (max-width: $mobile) {
      right: -4.6rem;
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
    transition: all 0.8s ease 0.8s;
    transform: translate(120%, 0px);
    opacity: 0;
  }
  .business__img-right._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.connection {
  background-color: $gray;
  position: relative;
  z-index: 1;
  &__main {
    padding: 2.9rem 0 3.3rem 0;
  }
  .main__busi {
    .busi__header {
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: 0.01rem;
      margin: 0 0 1.2rem 0;
    }

    .busi__contact {
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
      }
      @media (max-width: $mobileSmall) {
        display: flex;
        flex-direction: column;
      }
      .contact__input {
        flex: 0 1 auto;
        min-height: 2.7rem;
        min-width: 42.7rem;
        border: 0.1rem solid #3cd072;
        background-color: transparent;
        outline: none;
        padding-left: 0.8rem;
        @media (max-width: $tablet) {
          min-width: 65%;
        }
        @media (max-width: $mobileSmall) {
          min-width: 0;
        }
        &::-webkit-input-placeholder {
          color: #3cd072;
        }
      }
      .contact__button {
        flex: 0 1 auto;
        min-width: 13.5rem;
        min-height: 3rem;
        color: #3cd072;
        background-color: $black;
        border-radius: 0.3rem;
        border: 2px solid $black;
        font-size: 1rem;
        line-height: 1.5rem;
        cursor: pointer;
        transition: all ease 0.3s;
        margin-left: 1.6rem;
        @media (max-width: $mobile) {
          margin-left: 0;
          margin-top: 3.2rem;
        }
        @media (max-width: $mobileSmall) {
          margin-left: 0;
          margin-top: 3.2rem;
        }
        &:hover {
          background-color: #464946;
          border-color: #464946;
        }
      }
    }
  }
}

.global {
  hr {
    margin: 0;
  }
  &__img {
    display: block;
    margin: 4.4rem auto;
  }
  &__title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    margin: -3.1rem 0 0 0;
  }
  &__header {
    text-align: center;
    color: #3cd072;
    font-size: 2.3rem;
    line-height: 2rem;
    margin: 0.8rem 0 2.5rem 0;
  }
  &__text {
    margin: 0 auto;
    text-align: center;
    max-width: 41.4rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    margin-bottom: 12.3rem;
  }
  &__icons {
    display: flex;
    justify-content: center;
    gap: 3.8rem;
    .icons__green,
    .icons__cover {
      flex: 0 0 48px;
    }
    .icons__cover {
      position: relative;
      z-index: 1;
    }
  }
  &__watch {
    position: absolute;
    bottom: -11.3rem;
    left: 17.8rem;
    @media (max-width: $tablet) {
      left: 11.8rem;
    }
    @media (max-width: $mobile) {
      left: 11.8rem;
    }
    @media (max-width: $mobileSmall) {
      left: 2.8rem;
    }
    @media (max-width: 20em) {
      left: 1.8rem;
    }
  }
  &__btn {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 16.3rem auto 0 auto;
    padding: 0.8rem 0;
    color: #3cd072;
    background-color: $black;
    max-width: 18.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all ease 0.3s;
    &:hover {
      background-color: #464946;
    }
  }

  &__rating {
    margin: 8.8rem 0 5.9rem 0;
    @media (max-width: $mobileSmall) {
      margin-top: 6.8rem;
    }
    .rating__header {
      color: #3cd072;
      font-size: 2.3rem;
      line-height: 2rem;
      margin: 0 0 1.1rem 0;
    }
    .rating__block {
      display: flex;
      align-items: center;
      margin: 1rem 0 0.7rem 0;

      @media (max-width: $mobileSmall) {
        align-items: center;
        flex-direction: column;
      }
      .block__art {
        @media (max-width: $mobileSmall) {
          margin-bottom: 1.3rem;
        }
        .art__img-people,
        .art__img {
          margin: 0 1.4rem 0 0;
        }
      }
      .block__simple {
        .simple__nick {
          color: #3cd072;
          font-size: 2rem;
          line-height: 2rem;
          margin: 0 0 0.6rem 0;
          @media (max-width: $mobileSmall) {
            margin-bottom: 1.3rem;
          }
        }
        .simple__from {
          font-size: 1.5rem;
          line-height: 2rem;
          letter-spacing: 0.05rem;
          @media (max-width: $mobileSmall) {
            margin-bottom: 0.5rem;
          }
        }
        .simple__simple {
          display: flex;
          justify-content: center;
        }
        .simple-rating {
          position: relative;
          font-size: 2.5rem;
          display: inline-block;
          &::before {
            content: "★★★★★";
            display: block;
          }
          .simple-rating__items {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: row-reverse;
            overflow: hidden;
            .simple-rating__item {
              position: absolute;
              width: 0%;
              height: 0%;
              opacity: 0;
              visibility: hidden;
              top: 0;
              left: 0;
            }
            .simple-rating__label {
              flex: 0 0 20%;
              height: 100%;
              cursor: pointer;
              color: #b3b3b3;
              &::before {
                content: "★";
                display: block;
                transition: color 0.3s ease 0s;
              }
            }
            .simple-rating__item:checked,
            .simple-rating__item:checked ~ .simple-rating__label {
              color: #3cd072;
            }
            .simple-rating__label:hover,
            .simple-rating__label:hover ~ .simple-rating__label,
            .simple-rating__label:checked ~ .simple-rating__label:hover {
              color: #b3b3b3;
            }
          }
        }

        .simple-rating__review {
          align-self: flex-end;
          color: #b2b2b2;
          font-size: 1rem;
          line-height: 1.5rem;
          margin: 0 0 0 0.9rem;
        }
      }
      .block__counter-01,
      .block__counter-02,
      .block__counter-03,
      .block__counter-04,
      .block__counter-05 {
        .counter__title {
          font-size: 1.5rem;
          line-height: 2rem;
          letter-spacing: 0.02rem;
          margin: 0 0 0.8rem 0;
          @media (max-width: $mobileSmall) {
            margin-top: 1.3rem;
          }
        }

        .counter__num {
          display: inline-block;
          font-size: 4.3rem;
          line-height: 3rem;
          letter-spacing: 0.2rem;
          margin: 0 0 0 1rem;
          @media (max-width: $tablet) {
            font-size: 3rem;
          }
          @media (max-width: $mobile) {
            font-size: 3rem;
          }
          @media (max-width: $mobileSmall) {
            font-size: 3.5rem;
          }
        }
      }
      .block__counter-01,
      .block__counter-03,
      .block__counter-04,
      .block__counter-05 {
        margin: 0 0 0 1.6rem;
        @media (max-width: $mobileSmall) {
          margin: 0;
        }
      }
      .block__counter-02 {
        margin: 0 0 0 4.1rem;
        @media (max-width: $mobileSmall) {
          margin: 0;
        }
      }
    }
  }
  &__main {
    background-color: #000;
    padding: 2.9rem 0 3.3rem 0;
    .busi__header {
      color: #3cd072;
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: 0.01rem;
      margin: 0 0 1.2rem 0;
    }
    .busi__contact {
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobileSmall) {
        flex-direction: column;
      }
      .contact__input {
        flex: 0 1 auto;
        min-height: 2.8rem;
        min-width: 42.3rem;
        background-color: $white;
        border: none;
        outline: none;
        padding-left: 0.8rem;
        @media (max-width: $tablet) {
          min-width: 65%;
        }
        @media (max-width: $mobile) {
          min-width: 60%;
        }
        &::-webkit-input-placeholder {
          color: #3cd072;
        }
      }
      .contact__button {
        flex: 0 1 auto;
        min-width: 13.5rem;
        min-height: 3rem;
        color: $white;
        background-color: #3cd072;
        border-radius: 0.3rem;
        border: 2px solid #3cd072;
        font-size: 1rem;
        line-height: 1.5rem;
        cursor: pointer;
        transition: all ease 0.3s;
        margin-left: 1.9rem;
        @media (max-width: $mobile) {
          margin-left: 1.5rem;
        }
        @media (max-width: $mobileSmall) {
          margin-left: 0;
          margin-top: 1.3rem;
        }
        &:hover {
          background-color: #464946;
          border-color: #464946;
        }
      }
    }
  }
}

.contacts {
  background-image: url(../img/banner03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  .contacts__contacts {
    display: flex;
    padding: 5.8rem 0 4.4rem 0;
    @media (max-width: $mobile) {
      flex-direction: column;
      padding-bottom: 2rem;
    }
    .contacts__blank {
      display: flex;
      flex-direction: column;
    }
  }
  .blank__header {
    font-size: 2.3rem;
    line-height: 2rem;
    margin: 0 0 1.3rem 0;
    @media (max-width: $tablet) {
      font-size: 2rem;
    }
  }
  .blank__name,
  .blank__mail {
    flex: 0 1 auto;
    min-height: 2.8rem;
    min-width: 27.5rem;
    border: none;
    background-color: $white;
    outline: none;
    padding-left: 0.8rem;
    &::-webkit-input-placeholder {
      color: #3cd072;
    }
  }

  .blank__mess {
    flex: 0 1 auto;
    min-width: 26.65rem;
    min-height: 10.9rem;
    padding-left: 0.8rem;
    resize: none;
    border: none;
    outline: none;
    padding: 1.1rem 1.1rem 0 0.8rem;
    &::-webkit-input-placeholder {
      color: #3cd072;
    }
  }

  .blank__name,
  .blank__mail,
  .blank__mess {
    margin: 0 0 1.5rem 0;
    @media (max-width: $mobileSmall) {
      max-width: 100%;
      box-sizing: border-box;
    }

    @media (max-width: 23.44em) {
      min-width: 100%;
      box-sizing: border-box;
    }

    @media (max-width: 20em) {
      min-width: 17.5rem;
      box-sizing: border-box;
    }

    @media (max-width: 25.9em) {
      min-width: 100%;
      box-sizing: border-box;
    }
  }

  .blank__btn {
    flex: 0 1 auto;
    display: block;
    max-width: 13.5rem;
    min-height: 3rem;
    background-color: $black;
    color: $white;
    border: 2px solid $black;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all ease 0.3s;
    font-size: 1rem;
    line-height: 1.5rem;
    @media (max-width: $mobileSmall) {
      min-width: 100%;
    }
    @media (max-width: 20em) {
      min-width: 100%;
    }
    &:hover {
      background-color: #464946;
      border-color: #464946;
    }
  }

  .contacts__touch {
    margin: 0 0 0 6.5rem;
    @media (max-width: $mobile) {
      margin: 2.8rem auto 0 auto;
    }
    .touch__header {
      font-size: 2.3rem;
      line-height: 2rem;
      margin: 0 0 1.3rem 0;
      @media (max-width: $tablet) {
        font-size: 2rem;
      }
    }
    .touch__facebook {
      font-size: 1.5rem;
      line-height: 3.5rem;
      color: $white;
      background: url(../img/social/01.png) left no-repeat;
      background-size: 3.1rem 3.1rem;
      background-position: 0 0;
      padding: 0 0 0.68rem 4.8rem;
    }
    .touch__twit {
      font-size: 1.5rem;
      line-height: 3.5rem;
      color: $white;
      background: url(../img/social/02.png) left no-repeat;
      background-size: 3.1rem 3.1rem;
      background-position: 0 0;
      padding: 0 0 0.68rem 4.8rem;
    }
    .touch__vk {
      font-size: 1.5rem;
      line-height: 3.5rem;
      color: $white;
      background: url(../img/social/03.png) left no-repeat;
      background-size: 3.1rem 3.1rem;
      background-position: 0 0;
      padding: 0 0 0.68rem 4.8rem;
    }
  }
}

.footer {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 3rem 0;
    @media (max-width: $mobileSmall) {
      padding: 2rem 0 2rem 0;
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
    .content__logo {
      flex: 0 0 auto;
      @media (max-width: $mobileSmall) {
        margin-bottom: 2rem;
      }
    }
    .content__text {
      font-size: 1rem;
      line-height: 1.5rem;
      color: #909090;
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 49;
  transition: all 0.8s ease 0s;
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  &__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.9rem 0.6rem;
  }
  &__content {
    background-color: #fff;
    color: #000;
    max-width: 50rem;
    padding: 1.9rem;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
  }
  &__close {
    position: absolute;
    right: 0.6rem;
    top: 0.6rem;
    font-size: 1.3rem;
    color: #000;
    text-decoration: none;
  }
  &__title {
    font-size: 2.5rem;
    margin: 0 0 1em 0;
  }
  &__text {
    .text__name,
    .text__mail {
      width: 90%;
      padding: 0.6rem;
      margin-bottom: 2rem;
    }
  }
}
