@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Heebo", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*----------------------------------*/
[class*="__container"] {
  max-width: 976px;
  margin: 0 auto;
  padding: 0px 15px;
}

.container {
  max-width: 710px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.5;
}

.title:not(:last-child) {
  margin-bottom: 1rem;
}

@media (max-width: 48em) {
  .title {
    font-size: 1.5rem;
    line-height: 1.3;
  }
}

.title a {
  color: #21243d;
}

.cont {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #21243d;
}

.cont:not(:last-child) {
  margin-bottom: 2.19rem;
}

/*----------------------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 3.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

@media (max-width: 48em) {
  .header__burger {
    display: block;
    position: relative;
    width: 1.9rem;
    height: 1.3rem;
    position: relative;
    z-index: 3;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 0.1rem;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.6rem;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0.6rem;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__burger span {
  position: absolute;
  background-color: #000;
  left: 0;
  width: 100%;
  height: 0.13rem;
  top: 0.564rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 48em) {
  .header__menu {
    position: fixed;
    top: -106%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #edf7fa;
    padding: 3rem 0.6rem 1.3rem 0.6rem;
  }
}

.header__menu.active {
  top: 0;
}

.header__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

@media (max-width: 48em) {
  .header__list {
    display: block;
  }
}

.header__list li {
  list-style: none;
  margin: 0 0 0 1.3rem;
}

@media (max-width: 48em) {
  .header__list li {
    text-align: center;
    margin: 0 0 1.3rem 0;
  }
}

.header__link {
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.header__link:hover {
  color: #ff6464;
}

@media (max-width: 48em) {
  .header__link {
    font-size: 1.5rem;
  }
}

/*------------------------------------*/
.hi {
  padding: 8.75rem 0 4.38rem 0;
}

@media (max-width: 48em) {
  .hi {
    padding: 4.75rem 0 3.38rem 0;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 48em) {
  .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.about__img {
  position: relative;
  width: 15rem;
  height: 15rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 48em) {
  .about__img {
    width: 11rem;
    height: 11rem;
    margin-bottom: 2.2rem;
  }
}

.about .about__img::after {
  content: "";
  position: absolute;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #edf7fa;
  top: 1.13rem;
  left: -0.31rem;
}

@media (max-width: 48em) {
  .about .about__img::after {
    width: 11rem;
    height: 11rem;
  }
}

.about .about__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 2;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.about .about__img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.info {
  margin-right: 7.3rem;
  max-width: 30.94rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

@media (max-width: 48em) {
  .info {
    margin-right: 0;
  }
}

.info__header {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.4;
  color: #21243d;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.info__header._active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.info__header:not(:last-child) {
  margin-bottom: 2.5rem;
}

@media (max-width: 48em) {
  .info__header {
    font-size: 2rem;
    line-height: 1.3;
    text-align: center;
  }
}

@media (max-width: 48em) {
  .info__bt {
    text-align: center;
  }
}

.info__btn {
  display: inline-block;
  padding: 0.5rem 1.31rem;
  background-color: #ff6464;
  border-radius: 2px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.info__btn:hover {
  background-color: #e64343;
}

.info__btn a {
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
}

.cont_center {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #21243d;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.cont_center._active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

@media (max-width: 48em) {
  .cont_center {
    text-align: center;
  }
}

.cont_center:not(:last-child) {
  margin-bottom: 2.19rem;
}

.recents {
  padding: 0.9rem 0 1.9rem 0;
  background-color: #edf7fa;
}

.posts {
  max-width: 53.6rem;
}

.posts__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

@media (max-width: 48em) {
  .posts__posts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 56em) {
  .posts__posts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.posts__recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.7rem;
}

@media (max-width: 48em) {
  .posts__recent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 56em) {
  .posts__recent {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.posts__recent .recent__posts a {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.7;
  color: #21243d;
}

@media (max-width: 48em) {
  .posts__recent .recent__posts a {
    font-size: 1.1rem;
    line-height: 3.3;
  }
}

.posts__recent .recent__posts a:hover {
  text-decoration: underline;
}

@media (max-width: 48em) {
  .posts__recent .recent__all {
    display: none;
  }
}

.posts__recent .recent__all a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #00a8cc;
}

.posts__recent .recent__all a:hover {
  text-decoration: underline;
}

.cart {
  background-color: #fff;
  max-width: 26rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26rem;
          flex: 0 1 26rem;
}

.cart__carts {
  padding: 1.4rem;
}

.cart__carts .carts__making {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #21243d;
}

.cart__carts .carts__making:not(:last-child) {
  margin-bottom: 1.06rem;
}

@media (max-width: 48em) {
  .cart__carts .carts__making {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

.cart__carts .carts__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 48em) {
  .cart__carts .carts__date {
    gap: 1.5rem;
  }
}

.cart__carts .carts__date .date__month,
.cart__carts .carts__date .date__design {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  color: #21243d;
}

@media (max-width: 48em) {
  .cart__carts .carts__date .date__month,
  .cart__carts .carts__date .date__design {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.cart__carts .carts__date:not(:last-child) {
  margin-bottom: 0.7rem;
}

.cart__carts span {
  width: 0.06rem;
  height: 1.3rem;
  background-color: #000;
}

.cart__carts .carts__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #21243d;
}

.cart__carts .carts__text:not(:last-child) {
  margin-bottom: 0.7rem;
}

/*------------------------------*/
.work {
  padding: 1rem 0 5rem 0;
}

@media (max-width: 48em) {
  .work__header {
    text-align: center;
  }
}

.work__header a {
  font-size: 1.4rem;
  line-height: 2.7;
  color: #21243d;
}

@media (max-width: 48em) {
  .work__header a {
    font-size: 1.1rem;
    line-height: 3.3;
  }
}

.work__header a:hover {
  text-decoration: underline;
}

.content {
  max-width: 53.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1rem;
  margin: 1.2rem 0 2.2rem 0;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 48em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content .content__ibg {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.content .content__ibg .ibg__picture {
  overflow: hidden;
  max-width: 15rem;
  border-radius: 0.4rem;
  padding-bottom: 74%;
}

.content .content__ibg .ibg__picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.content .content__ibg .ibg__picture img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.story__cont {
  max-width: 64.7rem;
}

.story__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.7rem;
}

.story__item:not(:last-child) {
  margin-bottom: 1.1rem;
}

.story__item .item__year {
  width: 3.9rem;
  height: 1.6rem;
  background-color: #142850;
  border-radius: 16px;
  color: #fff;
  font-weight: 900;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
}

@media (max-width: 48em) {
  .story__item .item__year {
    font-size: 1rem;
    line-height: 1.7;
  }
}

.story__item .item__type {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #8695a4;
}

@media (max-width: 48em) {
  .story__item .item__type {
    font-size: 1rem;
    line-height: 1.5;
  }
}

/*----------------------------*/
.footer {
  padding: 3.4rem 0 3.4rem 0;
}

.icons__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.2rem;
  margin-bottom: 1.6rem;
}

.footer__copyright {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #21243d;
}

/*-----------------------------------*/
.blog {
  padding: 7.6rem 0 3.4rem 0;
}

@media (max-width: 48em) {
  .blog {
    padding: 5.6rem 0 0.4rem 0;
  }
}

.blog__header {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.4;
  color: #21243d;
  padding-left: 1.4rem;
}

.blog__header:not(:last-child) {
  margin-bottom: 2.5rem;
}

@media (max-width: 48em) {
  .blog__header {
    font-size: 2rem;
    line-height: 1.3;
  }
}

.blog__line {
  display: block;
  max-width: 100%;
  height: 0.06rem;
  background-color: #e0e0e0;
}

/*---------------------------------------*/
.work {
  padding: 7.6rem 0 3.4rem 0;
}

@media (max-width: 48em) {
  .work {
    padding: 5.6rem 0 0.4rem 0;
  }
}

.work__header {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.4;
  color: #21243d;
}

.work__header:not(:last-child) {
  margin-bottom: 2.5rem;
}

@media (max-width: 48em) {
  .work__header {
    font-size: 2rem;
    line-height: 1.3;
    text-align: left;
  }
}

/*---------------------------------*/
.dashboards {
  padding: 7.6rem 0 3.4rem 0;
}

@media (max-width: 48em) {
  .dashboards {
    padding: 5.6rem 0 0.4rem 0;
  }
}

.dashboards__header {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.5;
  color: #21243d;
}

.dashboards__header:not(:last-child) {
  margin-bottom: 2.8rem;
}

.dashboards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
}

.dashboards__item:not(:last-child) {
  margin-bottom: 2.2rem;
}

.dashboards__item .item__year {
  width: 3.9rem;
  height: 1.6rem;
  background-color: #ff7c7c;
  border-radius: 16px;
  color: #fff;
  font-weight: 900;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
}

.dashboards__item .item__type {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #21243d;
}

.dashboards__image {
  position: relative;
  overflow: hidden;
  max-width: 42.6rem;
  padding-bottom: 54%;
}

.dashboards__image:not(:last-child) {
  margin-bottom: 2.5rem;
}

.dashboards__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.dashboards__heading_1 {
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 2;
  color: #21243d;
}

.dashboards__heading_2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5;
  color: #21243d;
}

.dashboards__image_car {
  position: relative;
  overflow: hidden;
  max-width: 42.6rem;
  padding-bottom: 48.5%;
}

.dashboards__image_car:not(:last-child) {
  margin-bottom: 2.5rem;
}

.dashboards__image_car img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.dashboards__image_car__image_order {
  position: relative;
  overflow: hidden;
  max-width: 42.6rem;
  padding-bottom: 48.5%;
}

.dashboards__image_car__image_order:not(:last-child) {
  margin-bottom: 2.5rem;
}

.dashboards__image_car__image_order img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*---------Попап-----------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.popup.active {
  opacity: 1;
  pointer-events: all;
}

.popup__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 400px;
  padding: 25px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__body.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__body .popup__content {
  background-color: #fff;
  max-width: 800px;
  padding: 30px;
  position: relative;
}

.popup__body .popup__content .popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.popup__body .popup__content .popap__title {
  font-size: 2.2rem;
  color: #142850;
}

.popup__body .popup__content .popap__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.popup__body .popup__content .popap__text {
  font-size: 1.1rem;
  line-height: 1.2;
  color: #142850;
}
/*# sourceMappingURL=style.css.map */