body{
    font-family: 'Open Sans', sans-serif; 
}

.center{
    text-align: center;
}

.content{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 55px;
}

.logo{
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
    color: #212121;
    margin: 0;
}

.nav{
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    margin: 0;
    
}

.navigation li{
    list-style-type: none;
    
}



ul li a{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #212121;
    text-decoration: none;
    margin-right: 45px;
}

.banner{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    position: relative;
}


h1{
    font-weight: 600;
    font-size: 60px;
    line-height: 22px;
    color: #fff;
    margin: 0; 
    padding-top: 188px; 
    
}

.banner_teatle{
    font-size: 22px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 107px;

}

.btn{
    display: flex;
    justify-content: center;
    padding-bottom: 189px;
}

.btn01{
    width: 220px;
    height: 70px;
    border: 3px solid #fff;
    margin-right: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 73px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.btn02{
    width: 220px;
    height: 70px;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 73px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}


.btn01:hover{
    height: 73px;
    background: rgba(0, 137, 123, 0.5);
    border: none;
}

.btn02:hover{
    height: 73px;
    background: rgba(0, 137, 123, 0.5);
    border: none;
}

h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 22px;
    color: #212121;
    margin: 0;
    padding-top: 125px;
    text-align: center;
}
   
.text{
    font-size: 15px;
    line-height: 22px;
    color: #212121;
    margin: 0;
    padding-top: 36px;
    text-align: center;
}

.history{
    display: flex;
    justify-content: space-around;
    padding-top: 126px;
    padding-bottom: 126px;
}


h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #212121;
}

.history_text{
    font-size: 15px;
    line-height: 22px;
    color: #212121;
    margin: 0;
} 

.all_sirvices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-bottom: 126px;
}

.our_services{
    
    background-color: #e4fdf9;
}

.art{
    padding-top: 60px;
    padding-bottom: 29px;
}

.serv{
    font-weight: 700;
    font-size: 30px;
    line-height: 22px;
    text-align: center;
    color: #212121;
    margin: 0;
    padding-top: 174px;
    padding-bottom: 36px; 
}

.services{
    font-size: 15px;
    line-height: 22px;
    color: #212121;
    text-align: center;
    margin: 0;
    padding-bottom: 116px;
}

.research, .portfolio, .support, .documentation, .development, .design{
    background-color: #fff;
    transition: 0.3s;
}

.research:hover{
    background-color: #00897b;
}



.portfolio:hover{
  background-color: #00897b;  
}

.support:hover{
    background-color: #00897b;    
}

.documentation:hover{
  background-color: #00897b;  
}

.development:hover{
    background-color: #00897b;
        
}

.design:hover{
  background-color: #00897b;  
}






.text01, .text02, .text03, .text04, .text05, .text06{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #212121;
    margin: 0; 
    padding-bottom: 17px;
    
}




.serv_text{
    font-size: 15px;
    line-height: 22px;
    color: #212121;
    margin: 0;
    padding-bottom: 50px;
    
}



.button{
    display: inline-block;
    width: 146px;
    height: 51px;
    border: 2px solid #212121;
    text-align: center;
    font-weight: 600;
    line-height: 50px;
    color: #212121;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;  
}

.button:hover{
    color: #fff;
    border: 2px solid #fff;
}


.btn_work{
    display: flex;
    justify-content: center;
    padding-top: 115px;
}

.btn_work_1{
    width: 100px;
    height: 50px;
    border: 2px solid #00897b;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
    text-transform: uppercase;
    line-height: 52px;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.3s;
}

.btn_work_1:hover{
    background-color: #00897b;
    color: #fff;
}

.btn_work_2{
    width: 179px;
    height: 50px;
    border: 2px solid #00897b;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
    text-transform: uppercase;
    line-height: 52px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 20px;
}

.btn_work_2:hover{
    background-color: #00897b;
    color: #fff;
}

.btn_work_3{
    width: 179px;
    height: 50px;
    border: 2px solid #00897b;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
    text-transform: uppercase;
    line-height: 52px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 20px;
}

.btn_work_3:hover{
    background-color: #00897b;
    color: #fff;
}

.btn_work_4{
    width: 179px;
    height: 50px;
    border: 2px solid #00897b;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
    text-transform: uppercase;
    line-height: 52px;
    transition: 0.3s;
    cursor: pointer;
}

.btn_work_4:hover{
    background-color: #00897b;
    color: #fff;
}


.picture{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-top: 120px;
}

.watch{
    height: 370px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/watch.png);
    background-repeat: no-repeat;
    background-size: cover; 
} 

.watch_teatle{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    padding-top: 146px;
}

.watch_text{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    margin: 0;
}


.pocet{
    height: 370px;
    background: url(../img/pocet.png); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
}

.packaging{
    height: 370px;
    background: url(../img/packaging.png); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
} 

.flask{
    height: 370px;
    background: url(../img/flask.png); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
} 

.wine{
    height: 370px;
    background: url(../img/wine.png); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
} 

.bag{
    height: 370px;
    background: url(../img/bag.png); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
} 

.work_button{
    display: inline-block;
    width: 220px;
    height: 70px;
    border: 2px solid #00897b;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 68px;
    color: #212121;
    margin-top: 129px;
    margin-bottom: 136px;
    transition: 0.3s;
    cursor: pointer;

}

.work_button:hover{
    background-color: #00897b;
    color: #fff;
}

.plan{
    background-color: #f0f1f1;
}

.card{
    display: flex;
    justify-content: space-between;
    padding-top: 124px;
    padding-bottom: 125px;
}

.card1, .card2, .card3{
    width: 370px;
    background-color: #fff;
}

.blue_box{
    height: 179px;
    width: 100%;
    background-color: #3949ab;
    position: relative;
}

.blue_box::before{
    content: "";
    position: absolute;
    bottom: -32px;
    width: 200%;
    height: 2rem;
    left: -369px;
    background: linear-gradient(to left top, transparent 48.05%, #3949ab 50%) right / 50.025% 100% no-repeat; 
   
}

.blue_box_teatle_1, .blue_box_teatle_2, .blue_box_teatle_3{
    font-size: 25px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    padding-top: 48px;
}

.blue_box_text_1, .blue_box_text_2, .blue_box_text_3 {
    margin: 0;
    padding-top: 37px;
}

.dollar{
    font-size: 25px;
    line-height: 22px;
    color: #fff;
    margin: 0;
}

.numeral{
    font-size: 50px;
    line-height: 22px;
    color: #fff;
    margin: 0;
}

.per{
    font-size: 17px;
    line-height: 22px;
    color: #fff;
    margin: 0;
}

.white_box_text_1{
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    color: #212121;
    margin: 0;
    padding-top: 75px;
}

hr{
    width: 178px;
    border-top: 1px solid #bfbfbf;
}

.white_box_text_2{
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    color: #212121;
    margin: 0;
    padding-top: 26px;
}

.white_box_text_3{
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    color: #212121;
    margin: 0;
    padding-top: 26px;
}

.white_box_text_4{
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    color: #212121;
    margin: 0;
    padding-top: 26px; 
}


.order_now{
    display: inline-block;
    width: 178px;
    height: 58px;
    border: 2px solid #212121;
    font-weight: 600;
    font-size: 20px;
    line-height: 59px;
    color: #212121;
    margin-top: 53px;
    margin-bottom: 62px;
    cursor: pointer;
    transition: 0.3s;
}

.order_now:hover{
    background-color: #00897b;
    border: 2px solid #00897b;
    color: #fff;
}

.our_team{
    display: flex;
    justify-content: space-between;
    padding-top: 124px;
    padding-bottom: 122px;
}



.team_teatle{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #212121;
    margin: 0;
    text-align: center;
    padding-top: 36px;
}

.position{
    font-size: 15px;
    line-height: 22px;
    color: #212121;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}

.team_svg{
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;

}

.team_svg_1, .team_svg_2, .team_svg_3, .team_svg_4 {
    width: 50px;
    height: 50px;
    background-color: #f0f1f1;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3ms;  
}

.team_svg_1:hover{
    background-color: #3949ab; 
}

.team_svg_2:hover{
    background-color: #3949ab; 
}

.team_svg_3:hover{
    background-color: #3949ab; 
}
.team_svg_4:hover{
    background-color: #3949ab; 
}

.facebook, .twit, .mess, .ball{
    display: block;
    fill: #00897b;
    margin: 0 auto;
    padding-top: 6px;
    cursor: pointer;
    transition: 0.3ms;
}

.facebook:hover{
    fill: #fff;
}

.twit:hover{
    fill: #fff;
}

.mess:hover{
    fill: #fff;
}

.ball:hover{
    fill: #fff;
}

.point{
    display: flex;
    justify-content: center;
    padding-bottom: 124px;
}

.point_1, .point_2, .point_3{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00897b;
    margin: 5px;
    cursor: pointer;
    transition: 0.3ms;
}

.point_1:hover{
    background-color: #3949ab;
}

.point_2:hover{
    background-color: #3949ab;
}

.point_3:hover{
    background-color: #3949ab;
}

.blog{
    background-color: #e4fdf9;
}

.blog_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding-top: 125px;
    padding-bottom: 125px;
}


.item_1{
    background: url(../img/seo.png);
}

.item_4{
    background:url(../img/apple-desk-working-technology.png);
}

.item_5{
    background:url(../img/imac-apple-mockup-app.png);
}



.blog_teatle{
    font-weight: 600;
    font-size: 25px;
    font-weight: 22px;
    color: #212121;
    margin: 0;
    cursor: pointer;
    transition: 0.3ms;
    padding-top: 62px;
    padding-bottom: 25px;
}

.blog_teatle:hover{
    color: #00897b;
}

.date{
    display: flex;
    padding-bottom: 26px;
}

.calendar{
    display: flex;
}

.date_text{
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #212121;
    margin: 0 0 0 12px;
   
}

.ivent{
    display: flex;
    margin-left: 47px;
}

.about_blog{
    font-size: 15px;
    line-height: 22px;
    color:#212121; 
    margin: 0;
    padding-bottom: 171px;
}

.more{
    width: 220px;
    height: 70px;
    border: 2px solid #212121;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px; 
    line-height: 70px;
    text-transform: uppercase;
    color: #212121;
    cursor: pointer;
    transition: 0.3ms;
}

.empty{
    padding-bottom: 125px;
}

.more:hover{
    background-color:#00897b;
    border: 2px solid #00897b;
    color: #fff;
}

.contact_us{
    background: linear-gradient(rgba(0,0,0,.8),rgba(3, 3, 3, 0.8)), url(../img/banner_2.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    position: relative;
}

.white{
    font-weight: 700;
    font-size: 30px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    padding-top: 125px;
    text-align: center; 
}

.text_white{
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    padding-top: 36px;
    text-align: center;
}

.coordinates{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}


.round{
    width: 107px;
    height: 107px;
    border-radius: 50%;
    background-color: #3949ab;
    margin: 0 auto;
}

.map_marker{
    display: block;
    margin: 0 auto;
    padding-top: 17px;
}

p{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    margin: 0;
    padding-top: 36px;
    text-align: center;
}

.phone{
    fill: #fff;
    display: block;
    margin: 0 auto;
    padding-top: 17px;  
}

.envelope{
    display: block;
    margin: 0 auto;
    padding-top: 17px;  
}

.forms{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

input[type=text]{
    display: block;
    width: 476px;
    height: 85px;
    border: none;
    border-radius: 10px;
    margin-right: 30px;
    font-weight: 600; 
    font-size: 20px;
    line-height: 28px;
    color: #212121;
    padding-left: 20px;   
}

input[type=text_1]{
    display: block;
    height: 323px;
    width: 1010px;
    margin: 30px 0px 0px 55px;
    border: none;
    border-radius: 10px;
    font-weight: 600; 
    font-size: 20px;
    line-height: 28px;
    color: #212121;
    padding-left: 20px;
}

.send{
    display: block;
    width: 220px;
    height: 70px;
    background-color: #fff;
    border-radius: 10px;
    margin: 37px 0 0 865px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 74px;
    text-align: center;
    color: #212121;
    text-transform: uppercase;
    cursor: pointer;  
}

.empty_1{
    padding-bottom: 110px;
}

.footer_text{
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    line-height: 22px;
    text-align: center;
    color: #212121;
    padding-top: 22px;
    padding-bottom: 22px;
}

@media (max-width: 1200px) {
    .content{
      max-width: 800px;
    }
    ul li a {
        font-size: 16px;
        margin-right: 15px;
    }
    .search{
        width: 19px;
        height: 19px;
    }
    h1{
        font-size: 50px;
    }
    .banner_teatle{
        font-size: 20px;
    }
    .serv_text{
        font-size: 13px;
    }
    .card1, .card2, .card3{
        width: 257px;
    }
    .blue_box::before{
        left: -256px;
    }
    .numeral{
        font-size: 40px;
    }
    .order_now{
        font-size: 17px;
    }

    .our_team{
     display: flex;
     flex-wrap: wrap;
    }
    .our_team_3{
        padding-top: 60px;
    }

    input[type=text_1]{
        width: 750px;
        margin: 30px 0 0 0;
    }
    .send{
        margin: 37px 0 0 555px;
    }
}

@media screen and (max-width: 800px){
    body{
    width: 800px;
    }
    .content{
    width: 770px;
    }
    .card1, .card2, .card3{
        width: 245px;
    }
    .blue_box::before{
        left: -245px;
    }
    input[type=text_1]{
        width: 720px;
        margin: 30px 0 0 0;
    }
    .send{
        margin: 37px 0 0 523px;
    }
    .our_team{
        padding-bottom: 45px;
    }
    .point{
        padding-bottom: 65px;
    }
    }

@media screen and (max-width: 480px){
    body{
    width: 480px;
    }
    .content{
    width: 450px;   
    }
    .nav{
        display: none;
    }
    h1{
        font-size: 35px;
    }
    .banner_teatle{
        font-size: 18px;
    }
    h2{
        padding-top: 55px;
    }
    h3{
        font-size: 25px;
    }

    .history01, .history02{
        padding-bottom: 55px;
    }
    .history{
        display: flex;
        flex-direction: column;
        padding-top: 75px;
        padding-bottom: 70px;
       
    }

    .history_text{
        font-size: 16px;
    }
    .serv{
        padding-top: 45px;
    }

    .all_sirvices{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding-bottom: 100px;
    }
    .text{
        font-size: 16px;
       
    }
    p{
        padding: 0;
    }

    .services{
        font-size: 16px;
    }

    .text01, .text02, .text03, .text04, .text05, .text06 {
        font-size: 25px;
    }
    .serv_text{
        font-size: 16px;
    }

    .btn_work{
        display: flex;
        flex-direction: column;
        padding-top: 60px;
    }

    .btn_work_1, .btn_work_2, .btn_work_3, .btn_work_4{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .picture{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding-top: 45px;
    }

    .work_button{
        margin-top: 65px;
        margin-bottom: 100px;
    }

    .card{
       display: flex;
       flex-direction: column; 
    }

    .card1, .card2, .card3{
        width: 100%;
        margin-bottom: 40px;
    }

    .blue_box::before{
        left: -450px;
        
    }

    .blue_box_teatle_1, .blue_box_teatle_2, .blue_box_teatle_3 {
        font-size: 30px;

    }

    .dollar{
        font-size: 30px;
    }

    .per{
        font-size: 20px;
    }

    .white_box_text_1, .white_box_text_2, .white_box_text_3, .white_box_text_4{
        font-size: 22px;
    }

    .order_now{
        font-size: 20px;
    }

    .our_team{
        display: flex;
        flex-direction: column; 
        padding-top: 75px;
        padding-bottom: 0;
    }

    .our_team_1, .our_team_2, .our_team_3{
        text-align: center;
        margin-bottom: 70px;
        padding: 0;
    }

    .blog_content{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 0;

        

    }

    .item_1, .item_4, .item_5{
        display: block;
        width: 100%;
        height: 400px;
    }

    .about_blog{
        padding-bottom: 70px;
    }

    .empty{
        padding-bottom: 80px;
    }

    .white{
        padding-top: 70px;
    }

    .text_white{
        font-size: 16px;
    }

    .coordinates{
        display: flex;
        flex-direction: column;
    }

   .coordinates_1, .coordinates_2{
        margin-bottom: 45px;
   }

   .coordinates_text{
       font-size: 20px;
   }

   .forms{
       display: flex;
       flex-direction: column;
       padding-top: 40px;
   }

   input[type=text]{
       width: 100%;
       margin-bottom: 30px;
       padding: 0;
       
   }

   input[type=text_1]{
       width: 100%;
       margin: 0;
       padding: 0;
   }

   .send{
       margin: 37px 0 0 230px;
   }

}