@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap);
@import "variables";

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-family: "Heebo", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*----------------------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
/*----------------------------------*/
[class*="__container"] {
  max-width: 976px;
  margin: 0 auto;
  padding: 0px 15px;
}

.container {
  max-width: 710px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.5;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  @media (max-width: $mobile) {
    font-size: 1.5rem;
    line-height: 1.3;
  }
  a {
    color: #21243d;
  }
}

.cont {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #21243d;
  &:not(:last-child) {
    margin-bottom: 2.19rem;
  }
}
/*----------------------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &__body {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 3.8rem;
    align-items: center;
  }

  &__burger {
    display: none;

    @media (max-width: $mobile) {
      display: block;
      position: relative;
      width: 1.9rem;
      height: 1.3rem;
      position: relative;
      z-index: 3;

      &::before,
      &::after {
        content: "";
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 0.1rem;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
  }

  &__burger.active:before {
    transform: rotate(45deg);
    top: 0.6rem;
  }

  &__burger.active:after {
    transform: rotate(-45deg);
    bottom: 0.6rem;
  }

  &__burger.active span {
    transform: scale(0);
  }

  &__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 0.13rem;
    top: 0.564rem;
    transition: all 0.3s ease 0s;
  }

  &__menu {
    @media (max-width: $mobile) {
      position: fixed;
      top: -106%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      transition: all 0.3s ease 0s;
      background-color: #edf7fa;
      padding: 3rem 0.6rem 1.3rem 0.6rem;
    }
  }

  &__menu.active {
    top: 0;
  }

  &__list {
    padding: 0;
    display: flex;
    position: relative;
    z-index: 2;
    @media (max-width: $mobile) {
      display: block;
    }
  }
  &__list li {
    list-style: none;
    margin: 0 0 0 1.3rem;

    @media (max-width: $mobile) {
      text-align: center;
      margin: 0 0 1.3rem 0;
    }
  }
  &__link {
    color: #000;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5;
    transition: all ease 0.3s;
    &:hover {
      color: #ff6464;
    }
    @media (max-width: $mobile) {
      font-size: 1.5rem;
    }
  }
}
/*------------------------------------*/
.hi {
  padding: 8.75rem 0 4.38rem 0;
  @media (max-width: $mobile) {
    padding: 4.75rem 0 3.38rem 0;
  }
}

.about {
  display: flex;
  @media (max-width: $mobile) {
    align-items: center;
    flex-direction: column-reverse;
  }

  &__img {
    position: relative;
    width: 15rem;
    height: 15rem;
    flex: 0 0 auto;
    @media (max-width: $mobile) {
      width: 11rem;
      height: 11rem;
      margin-bottom: 2.2rem;
    }
  }

  .about__img::after {
    content: "";
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: #edf7fa;
    top: 1.13rem;
    left: -0.31rem;
    @media (max-width: $mobile) {
      width: 11rem;
      height: 11rem;
    }
  }

  .about__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    object-fit: contain;
    z-index: 2;
    transition: all ease 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.info {
  margin-right: 7.3rem;
  max-width: 30.94rem;
  flex: 0 1 auto;
  @media (max-width: $mobile) {
    margin-right: 0;
  }
  &__header {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.4;
    color: #21243d;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
    @media (max-width: $mobile) {
      font-size: 2rem;
      line-height: 1.3;
      text-align: center;
    }
  }
  &__bt {
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  &__btn {
    display: inline-block;
    padding: 0.5rem 1.31rem;
    background-color: #ff6464;
    border-radius: 2px;
    transition: all ease 0.3s;
    &:hover {
      background-color: #e64343;
    }
  }
  &__btn a {
    color: #fff;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.cont_center {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #21243d;
  @media (max-width: $mobile) {
    text-align: center;
  }
  &:not(:last-child) {
    margin-bottom: 2.19rem;
  }
}

.recents {
  padding: 0.9rem 0 1.9rem 0;
  background-color: #edf7fa;
}

.posts {
  max-width: 53.6rem;
  &__posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25rem;
    @media (max-width: $mobile) {
      justify-content: center;
    }
    @media (max-width: 56em) {
      justify-content: center;
    }
  }
  &__recent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
    @media (max-width: $mobile) {
      justify-content: center;
    }
    @media (max-width: 56em) {
      justify-content: space-around;
    }
    .recent__posts a {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.7;
      color: #21243d;
      @media (max-width: $mobile) {
        font-size: 1.1rem;
        line-height: 3.3;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    .recent__all {
      @media (max-width: $mobile) {
        display: none;
      }
    }

    .recent__all a {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      color: #00a8cc;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cart {
  background-color: #fff;
  max-width: 26rem;
  flex: 0 1 26rem;
  &__carts {
    padding: 1.4rem;
    .carts__making {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #21243d;
      &:not(:last-child) {
        margin-bottom: 1.06rem;
      }
      @media (max-width: $mobile) {
        font-size: 1.4rem;
        line-height: 1.4;
      }
    }
    .carts__date {
      display: flex;
      gap: 1.9rem;
      align-items: center;
      @media (max-width: $mobile) {
        gap: 1.5rem;
      }
      .date__month,
      .date__design {
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.4;
        color: #21243d;
        @media (max-width: $mobile) {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
      &:not(:last-child) {
        margin-bottom: 0.7rem;
      }
    }
    span {
      width: 0.06rem;
      height: 1.3rem;
      background-color: #000;
    }
    .carts__text {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      color: #21243d;
      &:not(:last-child) {
        margin-bottom: 0.7rem;
      }
    }
  }
}

/*------------------------------*/
.work {
  padding: 1rem 0 5rem 0;
  &__header {
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  &__header a {
    font-size: 1.4rem;
    line-height: 2.7;
    color: #21243d;
    @media (max-width: $mobile) {
      font-size: 1.1rem;
      line-height: 3.3;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  max-width: 53.6rem;
  display: flex;
  gap: 1.1rem;
  margin: 1.2rem 0 2.2rem 0;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #e0e0e0;
  @media (max-width: $mobile) {
    flex-direction: column;
  }

  .content__ibg {
    position: relative;
    flex: 0 1 50%;
    .ibg__picture {
      overflow: hidden;
      max-width: 15rem;
      border-radius: 0.4rem;
      padding-bottom: 74%;
    }
    .ibg__picture img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: all ease 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.story__cont {
  max-width: 64.7rem;
}

.story__item {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  &:not(:last-child) {
    margin-bottom: 1.1rem;
  }
  .item__year {
    width: 3.9rem;
    height: 1.6rem;
    background-color: #142850;
    border-radius: 16px;
    color: #fff;
    font-weight: 900;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    @media (max-width: $mobile) {
      font-size: 1rem;
      line-height: 1.7;
    }
  }
  .item__type {
    font-size: 1.3rem;
    line-height: 1.5;
    color: #8695a4;
    @media (max-width: $mobile) {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
/*----------------------------*/

.footer {
  padding: 3.4rem 0 3.4rem 0;
}

.icons__icon {
  display: flex;
  justify-content: center;
  gap: 2.2rem;
  margin-bottom: 1.6rem;
}

.footer__copyright {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #21243d;
}
/*-----------------------------------*/

.blog {
  padding: 7.6rem 0 3.4rem 0;
  @media (max-width: $mobile) {
    padding: 5.6rem 0 0.4rem 0;
  }
  &__header {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.4;
    color: #21243d;
    padding-left: 1.4rem;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
    @media (max-width: $mobile) {
      font-size: 2rem;
      line-height: 1.3;
    }
  }
  &__line {
    display: block;
    max-width: 100%;
    height: 0.06rem;
    background-color: #e0e0e0;
  }
}
/*---------------------------------------*/
.work {
  padding: 7.6rem 0 3.4rem 0;
  @media (max-width: $mobile) {
    padding: 5.6rem 0 0.4rem 0;
  }
  &__header {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.4;
    color: #21243d;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
    @media (max-width: $mobile) {
      font-size: 2rem;
      line-height: 1.3;
      text-align: left;
    }
  }
}
/*---------------------------------*/

.dashboards {
  padding: 7.6rem 0 3.4rem 0;
  @media (max-width: $mobile) {
    padding: 5.6rem 0 0.4rem 0;
  }
  &__header {
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 1.5;
    color: #21243d;
    &:not(:last-child) {
      margin-bottom: 2.8rem;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    &:not(:last-child) {
      margin-bottom: 2.2rem;
    }
    .item__year {
      width: 3.9rem;
      height: 1.6rem;
      background-color: #ff7c7c;
      border-radius: 16px;
      color: #fff;
      font-weight: 900;
      font-size: 1.1rem;
      line-height: 1.6;
      text-align: center;
    }
    .item__type {
      font-size: 1.3rem;
      line-height: 1.5;
      color: #21243d;
    }
  }
  &__image {
    position: relative;
    overflow: hidden;
    max-width: 42.6rem;
    padding-bottom: 54%;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &__heading_1 {
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 2;
    color: #21243d;
  }
  &__heading_2 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5;
    color: #21243d;
  }
  &__image_car {
    position: relative;
    overflow: hidden;
    max-width: 42.6rem;
    padding-bottom: 48.5%;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    &__image_order {
      position: relative;
      overflow: hidden;
      max-width: 42.6rem;
      padding-bottom: 48.5%;
      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
}
