@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
@import "variables";
/*----------Обнуление----------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.bigred {
  font-size: 20px;
  color: red;
}
/*--------------БЭМ блоки-------------------*/
.about {
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 2.57rem;
    color: #091133;
    @media (max-width: $tablet) {
      font-size: 2.5rem;
    }
    @media (max-width: $mobile) {
      font-size: 2.1rem;
    }
    @media (max-width: 31.1em) {
      font-size: 2rem;
    }
    @media (max-width: 22.9em) {
      font-size: 1.6rem;
    }
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.9rem;
    color: #6f7cb2;
    margin-top: 1.1rem;
    @media (max-width: $mobile) {
      font-size: 1rem;
    }
  }
}
/*------------------------------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1112px;
  margin: 0 auto;
  padding: 0px 15px;
  position: relative;
  box-sizing: content-box;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d2d7e3;
    z-index: 1;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.29rem 0;
    .header__burger {
      flex: 0 0 auto;
      display: none;
      cursor: pointer;
      z-index: 4;
      @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: 1.9rem;
        height: 1.3rem;
        position: relative;
        &::before,
        &::after {
          content: "";
          background-color: #111b47;
          position: absolute;
          width: 100%;
          height: 0.143rem;
          left: 0;
          transition: all 0.3s ease 0s;
        }
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
      }
    }
    .header__burger.active:before {
      transform: rotate(45deg);
      top: 0.6rem;
    }
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 0.6rem;
    }

    .header__burger.active span {
      transform: scale(0);
    }

    .header__burger span {
      position: absolute;
      background-color: #111b47;
      left: 0;
      width: 100%;
      height: 0.143rem;
      top: 0.564rem;
      transition: all 0.3s ease 0s;
    }
    .header__nav {
      z-index: 4;

      @media (max-width: $mobile) {
        margin-left: 0;
        position: fixed;
        top: -106%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background: #e7ecff;
        padding: 3rem 0.6rem 1.3rem 0.6rem;
        z-index: 3;
      }
      .nav__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 1.1rem;
        @media (max-width: $mobile) {
          display: block;
        }

        .list__item {
          margin-left: 4.3rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.7rem;
          color: #505f98;
          transition: 0.3s;
          @media (max-width: $mobile) {
            text-align: center;
            padding: 5.3rem 0 1.3rem 0;
            margin: 0;
            font-size: 2.1rem;
          }
          &:first-child {
            margin-left: 0;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .header__nav.active {
      top: 0;
    }

    .header__logo {
      flex: 0 0 76px;
      margin-right: 5.7rem;
      z-index: 1;
      @media (max-width: $mobile) {
        margin: 0 auto;
      }
    }
    .header__btn {
      flex: 0 1 auto;
      padding: 0.36rem 4.1rem;
      background-color: #111b47;
      border-radius: 0.14rem;
      font-style: normal;
      font-weight: 500;
      font-size: 0.86rem;
      line-height: 1.3rem;
      text-align: center;
      color: #ffffff;
      transition: 0.3s;
      z-index: 1;
      @media (max-width: $mobileSmall) {
        padding: 0.36rem 1.43rem;
      }
      &:hover {
        background-color: #353e68;
      }
    }
  }
}

.main__banner {
  padding-top: 16.57rem;
  padding-bottom: 32.1rem;
  @media (max-width: $tablet) {
    padding-top: 12.1rem;
    padding-bottom: 3.57rem;
  }
  @media (max-width: $mobileSmall) {
    padding-top: 9.57rem;
  }
  @media (max-width: 31.1em) {
    padding-bottom: 1.4rem;
  }
  .banner__banner {
    max-width: 38.57rem;

    @media (max-width: 46.4em) {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 36.6rem;
    }

    .banner__title {
      font-style: normal;
      font-weight: 500;
      font-size: 3.57rem;
      line-height: 4.7rem;
      letter-spacing: 0.07rem;
      color: #091133;
      @media (max-width: $tablet) {
        font-size: 2.86rem;
      }
      @media (max-width: $mobile) {
        font-size: 2.6rem;
        margin-top: 2.1rem;
      }
      @media (max-width: 31.1em) {
        font-size: 2.5rem;
      }
      @media (max-width: 22.9em) {
        font-size: 1.8rem;
        line-height: 3.2rem;
      }
    }
    .banner__text {
      font-style: normal;
      font-weight: 400;
      font-size: 1.29rem;
      line-height: 2.1rem;
      color: #505f98;
      margin-top: 1.4rem;
      @media (max-width: $tablet) {
        font-size: 1.29rem;
      }
      @media (max-width: $mobile) {
        font-size: 1.14rem;
      }
      @media (max-width: 31.1em) {
        font-size: 1.07rem;
      }
    }
    .banner__push {
      margin-top: 4.9rem;
      @media (max-width: 39.5em) {
        display: flex;
        flex-direction: column;
        margin-top: 2.1rem;
      }

      .push-one {
        padding: 0.57rem 2.86rem;
        background-color: #111b47;
        border-radius: 0.14rem;
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.9rem;
        text-align: center;
        color: #ffffff;
        transition: 0.3s;
        @media (max-width: 39.5em) {
          display: block;
          margin: 0 auto;
          width: 80%;
        }
        &:hover {
          background-color: #353e68;
        }
      }
      .push-two {
        padding: 0.43rem 3.57rem;
        background-color: transparent;
        border: 0.143rem solid #091133;
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.86rem;
        text-align: center;
        color: #091133;
        margin-left: 1.9rem;
        transition: 0.3s;
        @media (max-width: 39.5em) {
          display: block;
          margin: 2.14rem auto 0;
          width: 80%;
        }

        &:hover {
          background-color: #353e68;
          color: #fff;
          border-color: #353e68;
        }
      }
    }
  }
  .banner__art {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: -25.1rem;
    left: 19.2rem;
    z-index: -1;
    @media (max-width: $mobile) {
      top: -18.9rem;
      left: 15.7rem;
    }
    @media (max-width: $mobileSmall) {
      top: -15.4rem;
      left: 14.3rem;
    }
    @media (max-width: 22.9em) {
      top: -9.2rem;
      left: 9.5rem;
    }
  }
  @media (max-width: $tablet) {
    .banner__art img {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      -o-object-fit: contain;
      object-fit: contain;
      opacity: 0.7;
    }
  }
}

.main__block-one {
  padding-top: 3.57rem;
  padding-bottom: 10rem;
  @media (max-width: $tablet) {
    padding-bottom: 6.4rem;
  }
  @media (max-width: 31.1em) {
    padding-top: 1.43rem;
    padding-bottom: 2.1rem;
  }
  .block-one__content {
    display: flex;
    justify-content: space-between;
    @media (max-width: 46.4em) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .content__content {
      max-width: 38.57rem;
      flex: 1 1 50%;
      margin-top: 4.29rem;
      @media (max-width: 46.4em) {
        max-width: 34.1rem;
      }

      .content__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5.7rem;
        @media (max-width: 31.1em) {
          margin-top: 3.2rem;
        }
        .icons__icon {
          max-width: 18.2rem;
          padding: 0.7rem;
          @media (max-width: $tablet) {
            max-width: 13.4rem;
          }
          .icon__img {
            flex: 0 0 36px;
            background: url(../img/Icon.svg) no-repeat left;
            display: block;
            width: 2.57rem;
            height: 2.57rem;
            background-size: contain;
          }
          .icon__title {
            font-style: normal;
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.86rem;
            color: #091133;
            margin-top: 1rem;
          }
          .icon__text {
            font-style: normal;
            font-weight: 400;
            font-size: 0.86rem;
            line-height: 1.29rem;
            color: #5d6970;
            margin-top: 0.43rem;
          }
        }
      }
    }

    .block-one__art {
      flex: 1 1 50%;
      background: url(../img/img_01.svg) no-repeat left;
      width: 37.5rem;
      height: 38.57rem;
      background-size: contain;
      margin: -0.57rem 0 0 2.29rem;
      @media (max-width: 46.4em) {
        flex: 1 1 100%;
        margin: 5rem 0 0 0;
      }
      @media (max-width: 31.1em) {
        margin-top: 0;
      }
    }
  }
}

.main__block-two {
  padding-top: 6.64rem;
  padding-bottom: 7.96rem;
  @media (max-width: 46.4em) {
    padding-bottom: 6.46rem;
  }
  @media (max-width: 31.1em) {
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
  }
  .block-two__container {
    display: flex;
    align-items: center;
    @media (max-width: 46.4em) {
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 36.57rem;
    }
    .block-two__art {
      flex: 1 1 50%;
      background: url(../img/img_02.svg) no-repeat left;
      width: 34.29rem;
      height: 22.57rem;
      background-size: contain;
      margin: -0.6rem 0 0 2rem;

      @media (max-width: 46.4em) {
        flex: 1 1 100%;
        margin: 0;
      }
    }
    .block-two__block-two {
      max-width: 31.8rem;
      flex: 1 1 50%;
      margin: 0.6rem 0.36rem 0 1.4rem;

      @media (max-width: 46.4em) {
        max-width: 34.1rem;
        margin: 7.1rem auto 0;
      }
      @media (max-width: 31.1em) {
        margin: 2.9rem auto 0;
      }
    }
  }
}

.main__block-three {
  padding-top: 7.96rem;
  padding-bottom: 8.29rem;
  @media (max-width: $tablet) {
    padding-top: 6.46rem;
    padding-bottom: 6.46rem;
  }
  @media (max-width: 31.1em) {
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
  }
  .block-three__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 46.4em) {
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 36.57rem;
    }
    .block-three__art {
      flex: 1 1 50%;
      background: url(../img/img_03.svg) no-repeat left;
      width: 38.57rem;
      height: 27.6rem;
      background-size: contain;
    }
    .block-three__block-three {
      max-width: 31.79rem;
      flex: 1 1 50%;
      margin: 0.6rem 0.36rem 0 1.43rem;
      @media (max-width: 46.4em) {
        max-width: 34.1rem;
        margin-top: 7.14rem;
      }
      @media (max-width: 31.1em) {
        margin-top: 2.86rem;
      }
    }
  }
}

.main__block-four {
  padding-top: 8.29rem;
  padding-bottom: 10.93rem;
  @media (max-width: $tablet) {
    padding-top: 6.46rem;
    padding-bottom: 7.86rem;
  }
  @media (max-width: 31.1em) {
    padding-top: 2.14rem;
    padding-bottom: 2.14rem;
  }
  .block-four__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 46.4em) {
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 36.57rem;
    }
    .block-four__art {
      flex: 1 1 50%;
      background: url(../img/img_04.svg) no-repeat left;
      width: 31.8rem;
      height: 22.3rem;
      background-size: contain;
      margin-left: 3.29rem;
      @media (max-width: $tablet) {
        margin: 0;
      }
    }
    .block-four__block-four {
      max-width: 31.8rem;
      margin: 0.6rem 0.4rem 0 1.43rem;
      flex: 1 1 50%;
      @media (max-width: 46.4em) {
        max-width: 34.1rem;
        margin-top: 7.1rem;
      }
      @media (max-width: 31.1em) {
        margin-top: 2.86rem;
      }
      .block-four__push {
        display: inline-block;
        padding: 0.5rem 2.2rem 0.5rem 2.2rem;
        background-color: #111b47;
        border-radius: 0.143rem;
        font-style: normal;
        font-weight: 500;
        font-size: 0.86rem;
        line-height: 1.29rem;
        letter-spacing: 0.06rem;
        text-align: center;
        color: #ffffff;
        transition: 0.3s;
        margin-top: 2.8rem;
        @media (max-width: 31.1em) {
          width: 80%;
          display: block;
          margin: 1.4rem auto 0;
        }
        &:hover {
          background-color: #353e68;
        }
      }
    }
  }
}

.main__price {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 12.1rem;
  background: url(../img/price_cover.png) no-repeat center;
  width: 100%;
  height: 100%;
  background-size: cover;
  @media (max-width: $tablet) {
    padding-bottom: 10rem;
  }
  .price__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 42.86rem;
    margin-top: 9.7rem;
    @media (max-width: $tablet) {
      margin-top: 7.1rem;
    }
    .price__title {
      font-style: normal;
      font-weight: 500;
      font-size: 2.57rem;
      line-height: 3.43rem;
      text-align: center;
      color: #091133;
      @media (max-width: 46.4em) {
        font-size: 2.1rem;
      }
      @media (max-width: 31.1em) {
        font-size: 2rem;
      }
      @media (max-width: 22.9em) {
        font-size: 1.6rem;
      }
    }
    .price__text {
      font-style: normal;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.9rem;
      text-align: center;
      color: #6f7cb2;
      margin-top: 1.1rem;
      @media (max-width: 46.4em) {
        font-size: 1rem;
      }
    }
    .price__cost {
      font-style: normal;
      font-weight: 500;
      font-size: 3.57rem;
      line-height: 4.7rem;
      text-align: center;
      letter-spacing: 0.07rem;
      color: #222f65;
      margin-top: 2.57rem;
      @media (max-width: 46.4em) {
        font-size: 3.2rem;
      }
      @media (max-width: 22.9em) {
        font-size: 2.86rem;
      }
    }
    .price__design {
      font-style: normal;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.86rem;
      text-align: center;
      color: #37447e;
    }
    .prise__simple {
      font-style: normal;
      font-weight: 400;
      line-height: 1.7rem;
      text-align: center;
      color: #5d6970;
      margin-top: 4.29rem;
    }
    .price__push {
      display: inline-block;
      padding: 0.5rem 3.64rem;
      background-color: #111b47;
      border-radius: 0.143rem;
      font-style: normal;
      font-weight: 500;
      font-size: 0.86rem;
      line-height: 1.29rem;
      text-align: center;
      color: #ffffff;
      transition: 0.3s;
      margin-top: 0.6rem;
      letter-spacing: 0.06rem;
      @media (max-width: 31.1em) {
        width: 80%;
        margin-top: 1.43rem;
      }
      &:hover {
        background-color: #353e68;
      }
    }
  }
}

.footer {
  background: #e7ecff;
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.86rem;
    padding-bottom: 3.2rem;
    border-bottom: 0.07rem solid #cdd1d4;
    @media (max-width: 46.4em) {
      padding-top: 2.5rem;
      padding-bottom: 2.1rem;
    }
    @media (max-width: 31.1em) {
      flex-direction: column;
      justify-content: center;
    }
    .inner__logo {
      margin-right: 1.7rem;
      @media (max-width: 31.1em) {
        margin: 1.4rem 0 0 0;
      }
    }
    .inner__push {
      padding: 0.36rem 1.1rem;
      background-color: #111b47;
      border-radius: 0.1rem;
      font-style: normal;
      font-weight: 500;
      font-size: 0.86rem;
      line-height: 1.29rem;
      text-align: center;
      color: #ffffff;
      transition: 0.3s;
      border-radius: 0.14rem;
      letter-spacing: 0.01rem;
      @media (max-width: 31.1em) {
        width: 80%;
        margin-top: 1.4rem;
      }
      &:hover {
        background-color: #353e68;
      }
    }
  }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.43rem 0 2.5rem 0;
    @media (max-width: 46.4em) {
      padding: 1.43rem 0 1.79rem 0;
    }
    @media (max-width: 31.1em) {
      flex-direction: column;
    }
    .bottom__nav {
      .nav__list {
        display: flex;
        align-items: center;
        .list__item {
          margin-left: 4.29rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.7rem;
          color: #505f98;
          transition: 0.3s;
          &:first-child {
            margin-left: 0;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .bottom__social {
      display: flex;
      align-items: center;
      padding-left: 1.4rem;
      @media (max-width: 31.1em) {
        margin-top: 1.4rem;
      }
      .social__facebook {
        background: url(../img/social/facebook.svg) no-repeat left;
        width: 1.1rem;
        height: 1.1rem;
        background-size: contain;
      }
      .social__in {
        background: url(../img/social/in.svg) no-repeat left;
        width: 1.1rem;
        height: 1.1rem;
        background-size: contain;
        margin-left: 2.1rem;
      }
      .social__twit {
        background: url(../img/social/twit.svg) no-repeat left;
        width: 1.1rem;
        height: 1.1rem;
        background-size: contain;
        margin-left: 2.1rem;
      }
      .social__youtube {
        background: url(../img/social/youTube.svg) no-repeat left;
        width: 1.1rem;
        height: 1.1rem;
        background-size: contain;
        margin-left: 2.1rem;
      }
      .social__inst {
        background: url(../img/social/inst.svg) no-repeat left;
        width: 1.1rem;
        height: 1.1rem;
        background-size: contain;
        margin-left: 2.1rem;
      }
    }
  }
}
